#order-detail-content table .return_quantity {
  width: 107px;
  text-align: center;
}

#order-detail-content table .return_quantity .return_quantity_buttons {
  margin-top: 3px;
}

#order-detail-content table .return_quantity .return_quantity_buttons a {
  display: none;
  float: left;
}

#order-detail-content table .return_quantity .return_quantity_buttons a + a {
  margin-left: 3px;
}

#order-detail-content table .order_qte_input {
  display: none;
  width: 91px;
}

#order-detail-content table label {
  font-weight: 400;
}

#order-detail-content table .order_cb {
  width: 40px;
  text-align: center;
}

#order-detail-content table .order_cb .checkbox {
  margin-top: 0;
  margin-bottom: 0;
}

#order-detail-content table .order_cb .checkbox .label-text:before {
  margin-right: 0px;
}

#sendOrderMessage {
  margin-bottom: 30px;
}

#sendOrderMessage select.form-control {
  width: 263px;
}
