
@import "theme_variables";
@import "vendor_variables";

$quick-view-btn-size: 50px;
$product-grid-item-hover-bg: #fff;

h1.product-listing{
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 700;
}
//
// Transformation classes
//
.product_list {
  .show-if-product-item-hover {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate3d(50px, 0px, 0px);
  }
  .product-container:hover {
    .show-if-product-item-hover {
      transform: translate3d(0px, 0, 0px);
      transition: transform .2s ease-in-out;
    }
  }
}
#category-products{
  .page-heading{
    display: none;
  }
}

.product_list.list {
  .show-if-product-list-hover,
  .hide-if-product-list {
    display: none;
  }
  .product-container:hover {
    .show-if-product-list-hover {
      display: block;
    }
  }
}

.product_list.grid {
  .show-if-product-grid-hover,
  .hide-if-product-grid {
    transform: translate3d(50px, 0px, 0px);
  }
  .product-container:hover {
    .show-if-product-grid-hover {
     transform: translate3d(0px, 0, 0px);
      transition: transform .2s ease-in-out;
      
    }
    .button-container{
      visibility: visible;
      opacity: 1;
      -webkit-transition: opacity .5s linear;
      transition: opacity .5s linear;
    }
  }
}

//
// Component classes
//
.quick-view {
  width: $quick-view-btn-size;
  height: $quick-view-btn-size;
  line-height: $quick-view-btn-size;
  text-align: center;
  display: block;
  background: rgba(255, 255, 255, 0.7);
  font-size: 16px;
    @media  (max-width: $screen-sm-max) {
    display: none;
  }
}

.color-list-container {
  display: none;
  margin-bottom: 10px;
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 0;
    li {
      display: inline-block;
      border: 1px solid $ps-border-color;
      a {
        display: block;
        width: 22px;
        height: 22px;
        margin: 1px;
        img {
          display: block;
          width: 22px;
          height: 22px;
        }
      }
    }
  }
}

.product-container {
  margin-bottom: 30px;
  border-bottom: 1px solid transparent; // Preserves block heights on hover
}

.hook-reviews {
  margin-bottom: 10px;
}

.content_price {
  font-size: 16px;
  font-weight: 500;
  color: $gray-light;
}

@-webkit-keyframes fadeIn {
    from { opacity: .2; }
      to { opacity: 1; }
}  
@keyframes fadeIn {
    from { opacity: .2; }
      to { opacity: 1; }
}

.product-image-container {
  position: relative;
  .content_price {
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgba(50, 50, 50, 0.65);
    padding: 3px;
    color: #fff;
  }
}

.product-actions-container {
  position: relative;
  overflow: visible;
  .content_price {
    margin-bottom: 10px;
  }
  .button-container {
    margin-bottom: 10px;
  }
  .availability {
    margin-bottom: 10px;
    display: none;
  }
}

.product_list.grid {
  .product-container {
    background: #fff;
    margin-bottom: 45px;
    overflow: hidden;
    .product-description-container{
      .product-desc{
        display: none;
      }
      .h4{
        font-size: 14px;
        font-weight: 600;
      }
      }
    &:hover {
      background-color: $product-grid-item-hover-bg;
      .product-actions-container {
        .content_price {
          /*@include opacity(0);*/
        }
      }
    }
  }
  .product-price-button-wrapper {
    position: relative;
    // This needs to have minimum height of the buttons that will be displayed on hover
    // @see bootstrap/_buttons.scss
    min-height: round(2*$padding-base-vertical + 2*1 + $font-size-base*$line-height-base);
    margin-bottom: 10px;
  }

  .product-description-container,
  .product-actions-container{
    padding: 0;
    text-align: center;
  }
  .button-container {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 0s .3s, opacity .3s linear;
    transition: visibility 0s .3s, opacity .3s linear;
    @media  (max-width: $screen-sm-max) {
      visibility: visible;
      opacity: 1;
    }
    /*position: absolute;*/

    /*transform: translate3d(50px, 0px, 0px);
    @media  (max-width: $screen-sm-max) {
      transform: translate3d(0px, 0px, 0px);
    }*/
    a{
      /*width: 50px;
      height: 50px;
      line-height: 50px;
      font-size: 0;*/
      i{
        font-size: 20px;
        margin-right: 7px;
      }
    }
  }
  .functional-buttons {
    position: absolute;
    right: 0;
    top: 50px;
    width: 50px;
    z-index: 1;
    background: rgba(255, 255, 255, 0.7);
    .wishlist, .compare {
      width: 50px;
      height: 50px;
      position: relative;
      a{
        font-size: 0;
        &:before{
          position: absolute;
          content: "\f291";
          font-family: 'Fontawesome';
          font-size: 20px;
          width: 50px;
          line-height: 50px;
          text-align: center;
          border-top: 1px solid #ddd;
          /*transition: transform .2s ease-in-out;*/
        }
      }
    }
    .wishlist a:before{
      content: '\f08a';
    }
    .compare a:before{
      content: '\f021';
    }
    @media  (max-width: $screen-sm-max) {
      display: none;
    }
  }
}

.add_to_compare.checked .icon:before {
  content: '\f068';
}

.compare_mb{
  display: none;
  @media  (max-width: $screen-sm-max) {
      display: block;
      margin-top: 20px;
    }
}

.product_list.list {
  .ajax_block_product {
    width: 100%;
  }
  .product-container {
    @include clearfix();
  }
  .product-image-container{
    overflow: hidden;
    float: left;
    width: percentage(1 / 3);
    @media  (max-width: $screen-xs-max) {
      width: 100%;
      .product-name {
        margin-top: 10px;
      }
    }
  }
  .product-description-container,
  .product-actions-container {
    float: left;
    width: percentage(2 / 3);
    @media  (max-width: $screen-xs-max) {
      width: 100%;
      .product-name {
        margin-top: 10px;
      }
    }
  }
  .product-name {
    margin-top: 0;
  }
  .product-description-container,
  .product-actions-container{
    padding: 0 15px;
  }
}

#product-list-switcher{
  @media  (max-width: $screen-xs-max) {
    display: none;
  }
  .btn{
    border: none;
    background: transparent;
    box-shadow: none;
    -webkit-box-shadow:none;
    font-size: large;
    padding: 6px 10px 0 0;
  }
  .selected .icon{
    color: $link-hover-color;
  }
}

.sortPagiBar{
  label{
    font-weight: 400;
    font-size: 13px;
  }
  select.form-control{
    padding: 3px 6px;
    height: 30px;
    border-color: #eee;
  }
}

.content_sortPagiBar{
  .form-control-static{
    font-size: 13px;
  }
}
