#sdsblogArticle{
    ul{
        list-style-type: disc;
        list-style-position: inside;
        margin: 15px 0 15px 15px;
    }
}
.beesblogrecentpostshome-content{
    margin-bottom: 50px;
    h5{
        span{
            float: right;
            font-size: 11px;
            font-weight: 300;
        }
    }
}

#beesblog-content, #beesblog-category-list{
  &.block{
  border: none;
  -webkit-box-shadow: 2px 2px 8px 0 rgba(0,0,0,.2);
  box-shadow: 2px 2px 8px 0 rgba(0,0,0,.2)
  }
  h4{
    font-size: 2em;
    font-weight: 700;
    padding: 15px 0;
    margin: 0;
  }
  .beesblog-post-info{
    font-size: .9em;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  .beesblog-post-list-summary{
    margin-bottom: 30px;
    .beesblog-read-more-link{
      float: right;
      display: block;
      padding: 15px 5px 30px 0;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 1.2em;
    }
  }
  i{
    margin-left: 20px;
  }
  .socialsharing_beesblog{
    i{
      margin: 0;
    }
  }
}

#beesblog_column{
  li{
    .beesblogrecentposts-content, .beesblogpopularposts-content{
      margin-bottom: 10px;
      border-top: 1px solid #eee;
      h5{
        text-transform: none;
        font-weight: 400;
      }
      span{
        font-size: 12px;
      }
    }
    .btn{
      i{
        display: none;
      }
    }
  &:last-child{
      border-bottom: 1px solid #eee;
    }
  }
}
#beesblogcategories_column{
  li{
    border-top: 1px solid #eee;
    h5{
      text-transform: none;
      font-weight: 400;
    }
    .btn{
      i{
        display: none;
      }
    }
    &:last-child{
      border-bottom: 1px solid #eee;
    }
  }
}