.alert {
  font-weight: bold;
  ul, ol {
    padding-left: 15px;
    margin-left: 27px;
    margin-bottom: 0;
    li {
      list-style-type: decimal;
      font-weight: normal;
    }
  }
  &.alert-success:before {
    @include fas-pseudo;
    margin-right: 0.5em;
    content: "\f058"; // fa-circle-check
  }
  &.alert-danger:before {
    @include fas-pseudo;
    margin-right: 0.5em;
    content: "\f057"; // fa-circle-xmark
  }
  &.alert-warning:before {
    @include fas-pseudo;
    margin-right: 0.5em;
    content: "\f06a"; // circle-exclamation
  }
  &.alert-info:before {
    @include fas-pseudo;
    margin-right: 0.5em;
    content: "\f05a"; // fa-circle-info
  }
}
