#blockcart {
  position: relative;
  margin-top: 30px;
  text-align: right;
}

@media (max-width: 767px) {
  #blockcart {
    margin-top: 15px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #blockcart {
    margin-top: 10px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  #blockcart {
    margin-top: 20px;
  }
}

.ajax_cart_total {
  display: none !important;
}

#blockcart-header {
  height: 46px;
  padding: 0 16px;
  line-height: 46px;
  background: transparent;
  color: #121212;
  display: block;
  overflow: hidden;
  font-weight: 300;
}

#blockcart-header:before {
  content: "\f291";
  font-family: "FontAwesome";
  font-size: 1.6em;
  display: inline-block;
  margin-right: 5px;
  vertical-align: 6%;
  color: #ff6f61;
}

#blockcart-header:hover:before {
  color: #121212;
}

#blockcart-header b {
  font-weight: 500;
}

#blockcart-header .ajax_cart_product_txt,
#blockcart-header .ajax_cart_product_txt_s,
#blockcart-header .ajax_cart_no_product {
  display: none !important;
}

#blockcart-header .ajax_cart_quantity {
  position: absolute;
  top: 0;
  right: 38px;
  display: block !important;
  min-width: 20px;
  min-height: 20px;
  line-height: 20px;
  background: #121212;
  text-align: center;
  color: #fff;
  border-radius: 50%;
}

#blockcart-dropdown {
  position: absolute;
  z-index: 4;
  background: #fff;
  width: 100%;
  border-top: none;
  padding: 10px;
  text-align: left;
  font-size: 13px;
  box-shadow: 0 0 18px 0 rgba(41, 44, 58, 0.15);
}

#blockcart-dropdown dl {
  margin-bottom: 10px;
}

#blockcart-dropdown dt {
  font-weight: 300;
  margin-bottom: 5px;
  position: relative;
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
}

#blockcart-dropdown dt:last-of-type {
  margin-bottom: 0;
  border-bottom: none;
}

#blockcart-dropdown .vouchers {
  margin: 0 0 10px;
}

#blockcart-dropdown .vouchers tr td {
  padding: 5px;
}

.cart_block_customizations {
  padding: 5px 0;
  margin-bottom: 10px;
  border: 1px dashed #ddd;
  border-left: none;
  border-right: none;
}

.cart_block_customizations > li {
  position: relative;
}

.deleteCustomizableProduct {
  float: right;
}

.cart-images {
  float: left;
  margin-right: 5px;
}

.cart-info {
  position: relative;
}

.cart-info .price {
  position: absolute;
  bottom: 0;
  left: auto;
  right: 0;
}

.cart-prices {
  font-weight: 600;
  margin-bottom: 10px;
}

.cart-prices-line {
  padding: 5px 0;
}

.cart-prices-line:last-of-type {
  padding-bottom: 0;
}

.cart_block_shipping_cost,
.cart_block_tax_cost,
.cart_block_total,
.cart_block_wrapping_cost {
  float: right;
}

.layer_cart_overlay {
  background-color: #000;
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 98;
  opacity: 0.2;
  filter: alpha(opacity=20);
}

#layer_cart {
  background-color: #fff;
  position: absolute;
  display: none;
  z-index: 99;
  width: 84%;
  margin-right: 8%;
  margin-left: 8%;
}

#layer_cart .cross {
  font-size: 2em;
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 2;
}

.layer_cart_product {
  overflow: hidden;
  position: static;
  padding: 30px;
}

.layer_cart_product .title {
  margin-top: 0;
}

.cart-title {
  font-size: 16px;
  font-weight: bold;
}

.layer_cart_cart {
  background: #fafafa;
  border-left: 1px solid #ccc;
  padding: 30px 30px 170px 30px;
  position: relative;
}

@media (min-width: 1200px) {
  .layer_cart_cart {
    min-height: 318px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .layer_cart_cart {
    min-height: 360px;
  }
}

@media (max-width: 991px) {
  .layer_cart_cart {
    border-left: none;
    border-top: 1px solid #ccc;
  }
}

.layer_cart_cart .title {
  margin-top: 0;
  padding-bottom: 0.35em;
  font-size: 16px;
  font-weight: bold;
}

.layer_cart_cart .button-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 30px 20px;
}

.layer_cart_cart .cart-title {
  font-size: 16px;
  font-weight: bold;
}

.layer_cart_cart .pager {
  margin: 0;
}

@media (max-width: 767px) {
  .layer_cart_cart .pager > li > a {
    float: none;
    display: block;
    margin-top: 10px;
  }
}

.crossseling-content {
  position: relative;
  padding: 30px;
  border-top: 1px solid #ccc;
}

.crossseling-content h3 {
  margin: 0 0 0.75em;
}
